<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :url %>
    <%= f.input :description %>
    <%= f.input :created_at, include_blank: true, as: :string, placeholder: 'MM/DD/YEAR' %>
    <%= f.input :published_at, include_blank: true, as: :string, placeholder: 'MM/DD/YEAR' %>
    <%# f.input :stats %>
    <%= f.simple_fields_for :pictures do |p| %>
      <%= p.input :image %>
      <%= p.input :caption %>
      <%= p.input :description %>
    <% end %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
